@import url(//fonts.googleapis.com/css?family=Raleway);

body {
	margin: 0px; background: #2b2b2b;
	font-family: 'raleway', sans-serif; font-size: small; color: #444;
}

a {
	text-decoration: none; color: #444;
	border-bottom: solid #444 1px;
}

abbr {
	border-bottom: dotted #444 1px;
}

address {
	vertical-align: top;
	padding: 0px; padding-bottom: 11px; background: #212121;
	border-top: solid #444 1px;
	font-style: normal; font-size: 1.3em;
}

address a {
	display: block; width: 100%;
	margin: -1px; padding: 10px; background: #222;
	border: solid #444 1px;
	color: #888;
}

address a:hover {
	background: #444;
	color: #fff !important;
}

address img {
	vertical-align: middle; padding: 4px;
	border-radius: 4px;
	background: white;
}

@media (min-width: 550px) {

	address {
		padding: 30px;
		text-align: center;
	}

	address a {
		display: inline; margin-right: 4px;
		border-radius: 4px;
	}

	address img {
		margin-top: -2px; margin-left: -4px
	}

}

h1, h2, h3, h4, h5 {
	margin: 0px; width: auto;
}

h1, h2 {
	float: center;
	background-color: #444;
	text-align: center;
}

h1 {
	background: #2b2b2b;
	padding-top: 20px; padding-bottom: 20px;
	font-size: 2.5em; color: #fff;
}

h2 {
	padding-bottom: 25px; background: #2b2b2b;
	font-style: normal; font-size: 1.4em; color: #aaa;
}

h3 {
	padding: 20px; background: #212121;
	border-bottom: solid 1px #333;
	text-align: center;
	font-size: 2em; color: #fff;
}

h4 {
	padding: 10px; padding-left: 22px; background: #222;
	border-bottom: solid 4px #aaa;
	font-size: 1.5em; color: #fff;
}

h4 a {
	border-bottom: none;
	color: #fff;
}

h4 a.shaded {
	color: #aaa;
}

h5, h6, p {
	padding-left: 22px;
}

h5 {
	padding-top: 10px;
	font-size: 1.4em;
}

h6 {
	margin: 0px;
	font-weight: normal; font-size: 1.2em;
}

p, ul {
	font-size: 1.3em;
}

strong {
	margin-left: 4px; padding: 2px; padding-left: 6px; padding-right: 6px; background: #ddd;
	border-radius: 4px;
	font-size: 1em; color: #444;
}

#skills, #experience {
	margin-bottom: 30px; padding-bottom: 20px; background: #eee;
}

@media (min-width: 768px) {

	#skills {
		float: left; width: 50%;
	}

	#experience {
		float: left; width: 50%;
	}

	#experience div {
		height: 100%;
		border-left: solid 1px #333;
	}

}
