body {
	margin: 0px; background: #EBF1FF;
	font-family: verdana; font-size: small; color: #444;
}

a {
	text-decoration: none; color: #3F6DCD;
	border-bottom: solid #3F6DCD 1px;
}

abbr {
	border-bottom: dotted #444 1px;
}

address {
	vertical-align: top;
	padding: 14px; padding-bottom: 11px;
	border-top: solid #ddd 1px; border-bottom: solid #ADBDDE 1px;
	font-style: normal; font-size: 1em;
}

address a {
	display: block; width: 100%; margin: 2px; background: white;
	border: solid #6692EE 1px; border-radius: 4px;
}

address a:hover {
	background: #6692EE;
	color: #f5f5f5 !important;
}

address img {
	vertical-align: middle; padding: 4px;
	border-radius: 4px;
	background: white;
}

@media (min-width: 500px) {

  address {
		text-align: center;
	}

	address a {
		display: inline; margin-right: 4px; padding: 4px;
	}

  /*
  address img {
		margin-top: -2px; margin-left: -4px
	}
  */

}

h1, h2, h3, h4, h5 {
	margin: 0px; width: auto;
}

h1, h2 {
	float: center;
	background-color: #6692EE;
	text-align: center; color: #f5f5f5;
}

h1 {
	padding-top: 6px;
	border-top: solid #5F84D0 4px;
	font-family: helvetica, sans-serif; font-size: 20pt;
}

h2 {
	padding-bottom: 6px;
	border-bottom: solid #ADBDDE 4px;
	font-style: normal; font-size: 8pt;
}

h3 {
	padding: 10px;
	text-align: center; font-family: helvetica, sans-serif; font-style: italic; font-size: x-large;
}

h4 {
	padding: 4px; background: #EBF1FF;
	border-bottom: solid #D1DCF4 1px;
	text-align: center; color: #444;
}

h4 a {
	border-bottom: none;
}

h5, h6, p {
	padding-left: 22px;
}

h5 {
	padding-top: 8px;
}

h6 {
	margin: 0px;
	font-weight: normal;
}

strong {
	margin-left: 4px; padding: 1px; padding-left: 4px; padding-right: 4px; background: #eee;
	border-radius: 4px;
	font-size: xx-small; color: #444;
}

#skills, #experience {
	margin-bottom: 20px; background: #fff;
	border-bottom: solid #ADBDDE 4px;
}

@media (min-width: 768px) {

	#skills {
		float: left; width: 50%;
	}

	#experience {
		float: left; width: 50%;
	}

	#experience div {
		height: 100%;
		border-left: solid #ADBDDE 1px;
	}

}
